# 애플리케이션 설정
APP_ENV=development
DEBUG=true

# 데이터베이스
DATABASE_URL=postgresql+asyncpg://{username}:{password}@{hostname}:{port}/{database_name}

# JWT 설정
JWT_SECRET_KEY=
## https://www.randomkeygen.com/jwt-secret 여기서 생성
JWT_ALGORITHM=HS256
JWT_ACCESS_TOKEN_EXPIRE_MINUTES=60

# Spotify OAuth (후순위)
SPOTIFY_CLIENT_ID=your-spotify-client-id
SPOTIFY_CLIENT_SECRET=your-spotify-client-secret
SPOTIFY_REDIRECT_URI=http://localhost:8000/api/auth/spotify/callback
